*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#myVideo {
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
}

.navbar{
    position: fixed;
    min-width: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: space-between;
    align-content: center;
    z-index: 2;
}
.navbar a{
    color: #fff;
    text-decoration: none;
}

.navbar ul li{
    color: #fff;
    text-decoration: none;
    list-style: none;
    margin: 1rem;
}

.navbar ul{
    display: flex;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: inherit; */
    height: 100vh;
}

.upmid{
    position: fixed;
    color: #fff;
    /* background-color: none; */
}

