.foot {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.foot-logos {
  height: 40px;
  border-radius: 50% !important;
}

.foot-nav {
  display: flex;
  justify-content: space-between;
  list-style: none;
  color: aqua;
  padding: 1rem;
}

.foot-right-logo {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  justify-content: space-around;
  padding: 3vw 15vh;
}
.nav-pd {
  padding: 1rem 1rem;
}

.lg-pd {
  padding: 0 1rem;
}

.foot-para {
  padding: 0 2rem;
  color: gray;
}

.foot-left {
  padding: 3vw 0vh;
}

.foot-right {
  align-content: center;
  align-items: center;
  display: flex;
}
