@import url(./utils.css);
@import url(./footerstyle.css);

* {
  padding: 0;
  margin: 0;
  /* background-color: antiquewhite; */
}

/* .container{
  background-color: rgb(229, 243, 243);
} */

.navs {
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  list-style: none;
}
.signbutton {
  font: 1rem sans-serif;
  position: relative;
  color: white;
  padding: 1rem 1rem;
  border: 1px;
  border-color: none;
  background-color: rgb(41, 135, 228);
  border-radius: 20px;
}

.signbutton:hover {
  background-color: #294db0;
}

#startboot {
  font-size: 2em;
}

.pfp {
  margin: 1% 10%;
  padding: 0 10% 0 10%;
}

.headmid {
  display: grid;
  justify-content: center;
  align-items: baseline;
  padding: 200px;
  /* /Assets/pexels-pixabay-414144.jpg */
  background-image: url(/Assets/pexels-pixabay-414144.jpg);
}

.headmidpara {
  margin: 12px;
  font: 3em sans-serif;
  color: white;
  margin-bottom: 3rem !important;
}

.headmidbar {
  display: flex;
  justify-content: center;
}

.headmidinput {
  position: relative;
  height: 50px;
  width: 300px;
  border-radius: 5px;
  margin-right: 20px;
  font: 1.2rem sans-serif;
}

.headlast {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 40px 100px;
  padding: 40px 40px;
  align-content: center;
}
.box {
  display: grid;
  position: relative;
  justify-content: center;
  justify-items: center;
  padding: 40px;
}

.logo {
  height: 100px;
  padding: 20px;
}

.para-b {
  font-weight: bold;
  font-size: 25px;
  padding: 15px;
}

.para {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 1rem;
  display: grid;
  align-items: center;
  justify-items: center;
}
