@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');


@import url(./utils.css);

*{
    margin: 0;
    padding: 0;
}

.navbar{
    /* display: flex; */
    /* justify-content: space-between; */
    padding: 1rem;
    background-color: #212529;
    
    transition: padding-top 0.3s ease-in-out, padding-bottom 0.3s ease-in-out;
}
.container{
    display: flex;
    justify-content: space-between;
    margin: 0 10rem;
}

.nb-link{
    /* font-size: 1rem; */
    height: 1.5rem;
    padding: 1rem;
}

.nav-link{
    color: white;
    text-decoration: none;
    font-family: 'Ubuntu', sans-serif;
    text-transform: uppercase !important;
    letter-spacing: 0.0625em;
    background-image: url();
}

.nn-item{
    display: inline-flex;
    justify-content: space-around;
    align-content: center;
    align-items: center;
    list-style: none;
    padding: 1rem;
    
    
    
}