@import url('https://fonts.googleapis.com/css2?family=Rubik+Iso&family=Ubuntu&display=swap');
/* font-family: 'Rubik Iso', cursive; */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
/* font-family: 'Ubuntu', sans-serif; */



* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

main {
  min-height: 100vh;
  background: linear-gradient(to right top, #0a68fb, #e822e5);
  /* background: linear-gradient(to right top, #2620ec, #14eab8); */
  display: flex;
  align-items: center;
  justify-content: center;
}

.glass {
  background: white;
  min-height: 60vh;
  width: 60%;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.5),
    rgba(255, 255, 255, 0.3)
  );

  /* background: linear-gradient( to right top, rgba(13, 103, 251,0.2), rgba(225, 36, 230,0.1) ); */

  border-radius: 2rem;
  z-index: 2;
  backdrop-filter: blur(2rem);
  display: flex;
  flex-direction: column;
  box-shadow: -1px -1px 20px 0px rgba(0,0,0,0.43);
}

.circle1,
.circle2 {
  background: white;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.8),
    rgba(255, 255, 255, 0.3)
  );
  height: 20rem;
  width: 20rem;
  position: absolute;
  border-radius: 50%;
}

.circle1 {
  top: 5%;
  right: 15%;
}

.circle2 {
  bottom: 5%;
  left: 10%;
}

.navbar{
  display: flex;
  justify-content: space-between;
}

.links{
  display: flex;
  justify-content: flex-end;
  align-content: center;
  margin: 1rem 0;

}
.links li{
  list-style: none;
  margin: 1rem 2rem;
  padding: .5rem;
  align-self: center;
}

.links li a{
  color: white;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 600;
  text-decoration: none;
}


.link-text{
  color: white;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 600;
  text-transform: uppercase;
}

.logo img{
  height: 3rem;
  margin: 1rem 1rem 1rem 6rem;
}

.info{
  display: flex;
  margin: 1rem 0;
  flex-wrap: wrap-reverse;
}

.info-left{
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 1rem;
}

.info-left h1{
  font-family: 'Rubik Iso', cursive;
  font-weight: 1200;
  font-size: 2rem;
  margin: 0 3rem;
  color: white;
}

.info-left p{
  color: white;
  font-family: 'Ubuntu', sans-serif;
  text-align: left;
  margin: 2rem 3rem;
}

button{
  color: white;
  border: none;
  border-radius: 2rem;
  background-color: #fe7f8e;
  box-shadow: 8px 5px 10px -1px rgba(159, 135, 246,0.8);
  height: 2rem;
  width: 8rem;
  margin: 1rem 3rem;
  font-weight: 800;
  cursor: pointer;
}

.info-right{
  flex: 1;
  padding-right: 2rem;
}

.info-right img{
  height: 25rem;
  margin: 3rem;
}

@media only screen and (max-width: 1300px) {
  .info-left{
    margin-left: 2rem;
  }

  .info-right{
    margin-left: 2rem;
    display: flex;
    justify-content: center;
  }

  .info-right img{
    /* height: 12rem; */
    margin-left: 3rem;
  }

  .glass{
    width: 85%;
  }
}

@media only screen and (max-width: 650px){
  .info-right img{
    height: 12rem;
    margin-left: 3rem;
  }
}

:root {
  font-size: 16px;
  font-family: 'Open Sans';
  --text-primary: #b6b6b6;
  --text-secondary: #ececec;
  --bg-primary: #23232e;
  --bg-secondary: #141418;
  --transition-speed: 600ms;
}

@media only screen and (max-width: 850px) {
  main{
    background: linear-gradient(to right top, #2620ec, #14eab8);
  }
  
  .navbar{
    width: 5rem;
    flex-direction: column;
    position: fixed;
    background: linear-gradient( to right bottom, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5) );
    transition: width 600ms ease;
    overflow: scroll;
    border-radius: 2rem 0 0 2rem;
    height: 100%;
  }
  .links{
    margin: 0;
    padding: 0;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    /* height: 100%; */
  }

  .links:last-child{
    margin-top: auto;
  }

  .logo img{
    height: 3rem;
    margin: 2rem;
    margin-left: 5rem;
  }

  .links li a{
    display: flex;
    border-radius: 2rem;
    align-items: center;
    height: 5rem;
    color: var(--text-primary);
    filter: grayscale(100%) opacity(0.7);
    transition: var(--transition-speed);
    
  }

  .links li a:hover{
    filter: grayscale(0%) opacity(1);
    background: #1b9ecc;
    color: var(--text-secondary);
    padding: 0 3rem;
  }

  .link-text{
    display: none;
    margin-left: 1rem;
  }

  .links li a svg{
    min-width: 2rem;
    margin: 0 1.5rem;
  }
  .navbar:hover{
    width: 16rem;
    
  }

  .navbar:hover .link-text{
    display: block;
  }

  .fa-primary{
    color: #0a68fb;
    /* color: #e822e5; */
  }
  .fa-secondary{
    color: #e822e5;
    /* color: #0a68fb; */
    /* color: #fc728a; */
  }

  .fa-primary, .fa-secondary{
    transition: var(--transition-speed);
  }

  .logo{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .logo svg{
    width: 2rem;
    margin: 0 1.5rem;
    transform: rotate(0deg);
    transition: transform var(--transition-speed);
  }

  .navbar:hover .logo svg{
    min-width: 2rem;
    margin: 0 1.5rem;
    transform: rotate(-180deg);
  }
}


body::-webkit-scrollbar{
  width: 0.25rem;
}

body::-webkit-scrollbar-track{
  
  background: linear-gradient(to right top, #0a68fb, #e822e5);
  /* background: linear-gradient(to right top, #2620ec, #14eab8); */
}

body::-webkit-scrollbar-thumb{
  background: linear-gradient(to right top, #2620ec, #14eab8);
  /* background: linear-gradient( to right top, rgba(13, 103, 251,0.2), rgba(225, 36, 230,0.1) ); */
}

@media only screen and (min-width: 851px) {
  .links li a svg{
    display: none;
  }

  .links li a{
    color: var(--text-primary);
    filter: grayscale(100%) opacity(0.7);
    transition: var(--transition-speed);
  }

  .links li a:hover{
    filter: grayscale(0%) opacity(1);
    background: #fc768c;
    color: var(--text-secondary);
    padding: 1rem .5rem;
    border-radius: 2rem;
  }
}