@import url('https://fonts.googleapis.com/css2?family=Rubik+Iso&family=Ubuntu&display=swap');
/* font-family: 'Rubik Iso', cursive; */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
/* font-family: 'Ubuntu', sans-serif; */



* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

main {
  min-height: 100vh;
  background: linear-gradient(to right top, #0a68fb, #e822e5);
  /* background: linear-gradient(to right top, #2620ec, #14eab8); */
  display: flex;
  align-items: center;
  justify-content: center;
}

.glass {
  background: white;
  min-height: 60vh;
  width: 60%;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.5),
    rgba(255, 255, 255, 0.3)
  );

  /* background: linear-gradient( to right top, rgba(13, 103, 251,0.2), rgba(225, 36, 230,0.1) ); */

  border-radius: 2rem;
  z-index: 2;
  backdrop-filter: blur(2rem);
  display: flex;
  flex-direction: column;
  box-shadow: -1px -1px 20px 0px rgba(0,0,0,0.43);
}

.circle1,
.circle2 {
  background: white;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.8),
    rgba(255, 255, 255, 0.3)
  );
  height: 20rem;
  width: 20rem;
  position: absolute;
  border-radius: 50%;
}

.circle1 {
  top: 5%;
  right: 15%;
}

.circle2 {
  bottom: 5%;
  left: 10%;
}

.navbar{
  display: flex;
  justify-content: space-between;
}

.links{
  display: flex;
  justify-content: flex-end;
  align-content: center;
  margin: 1rem 0;

}
.links li{
  list-style: none;
  margin: 1rem 2rem;
  padding: .5rem;
}

.links li a{
  color: white;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 600;
  text-decoration: none;
}

.logo img{
  height: 8rem;
  margin: 0 2rem;
}

.info{
  display: flex;
  margin: 1rem 0;
  flex-wrap: wrap-reverse;
}

.info-left{
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 2rem;
}

.info-left h1{
  font-family: 'Rubik Iso', cursive;
  font-weight: 1200;
  font-size: 2rem;
  margin: 0 3rem;
  color: white;
}

.info-left p{
  color: white;
  font-family: 'Ubuntu', sans-serif;
  text-align: left;
  margin: 2rem 3rem;
}

button{
  color: white;
  border: none;
  border-radius: 2rem;
  background-color: #fe7f8e;
  box-shadow: 10px 9px 11px -1px #2d5df8;
  height: 2rem;
  width: 8rem;
  margin: 1rem 3rem;
  font-weight: 800;
}

.info-right{
  flex: 1;
  padding-right: 2rem;
}

.info-right img{
  height: 25rem;
  margin: 3rem;
}

@media only screen and (max-width: 1300px) {
  .info-left{
    margin-left: 2rem;
  }

  .info-right{
    margin-left: 2rem;
  }

  .info-right img{
    height: 12rem;
    margin-left: 3rem;
  }

  .glass{
    width: 85%;
  }
}

@media only screen and (max-width: 850px) {
  .navbar{
    width: 5rem;
    height: 100vh;
    position: fixed;
  }
}

body::-webkit-scrollbar{
  width: 0.25rem;
}

body::-webkit-scrollbar-track{
  
  background: linear-gradient(to right top, #0a68fb, #e822e5);
  /* background: linear-gradient(to right top, #2620ec, #14eab8); */
}

body::-webkit-scrollbar-thumb{
  background: linear-gradient(to right top, #2620ec, #14eab8);
  /* background: linear-gradient( to right top, rgba(13, 103, 251,0.2), rgba(225, 36, 230,0.1) ); */
}